Title: EventsArchive
---
@{
    Layout = "/_Layout.cshtml";
}

@{
    <h2>Who are we?</h2>
<p>
    The [Group] is a collaboration between engaged representatives from key players of the Luxembourg corporate society, and in particular the financial sector, who have identified LGBT as a topic of attention in their respective diversity and inclusion agendas.
</p>
<h2>Why?</h2>
<p>Despite major legal improvements in respect of the statute of the LGBT community in Luxembourg, the LGBT community remains, in fact, statistically still one of the most discriminated in the workplace. </p>
<p>The dialogue between the members of the Group creates a forum where best practices in respect of LGBT programs are exchanged and where the various representatives can bring their respective employers closer to each other. </p>
<p>Finally, the combined efforts within the [Group] make it possible to give more visibility to the LGBT program of each individual member and create the opportunity to organize shared events.</p>

<h2>What do we do?</h2>
<p>The [Group] currently focuses on three pillars, namely:</p>
<ul>
    <li>The <strong>engagement</strong> of employees and stakeholders in themes around LGBT by creating ways for employees to show visible support for the LGBT community</li>
    <li>The <strong>education and awareness</strong> of employees through sensitisation activities and materials.</li>
    <li><strong>Empower</strong> employees to be the key drivers of LGBT inclusion in their day-to-day roles.</li>
</ul>
<p>Please find a link to the latest agenda of the [Group] on:????????????</p>

<h2>How can you contribute and what would be your role?</h2>
<p>The [Group] is an open group that is supported by the common efforts of the various members.</p>
<p>There is no minimum contribution in order to join us. If you and/or your company value a workplace of equality as a priority, please do not hesitate to join us by participating to a meeting or by joining one of our events.</p>
}